html, body {
    padding: 0;
    margin: 0;
    
}

body.no-scroll{
    overflow: hidden;
}

.bg-green{
    background-color: #13a5ad;
}

/* Estilos para la barra de navegacion principal */
.nav-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop-menu{
    display: none;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 989;
    background-color: transparent;
    transition: background-color 300ms;
}

.navbar.colored{
    -webkit-box-shadow: 0px 0px 7px 0px #000000; 
    box-shadow: 0px 0px 7px 0px #000000;
    background-color: #f1f1f1;
}

.nav-product > .navbar{
    -webkit-box-shadow: 0px 0px 7px 0px #000000; 
    box-shadow: 0px 0px 7px 0px #000000;
    background-color: #f1f1f1;
}

.navbar-btn{
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar.colored .bar1,
.navbar.colored .bar2,
.navbar.colored .bar3{
    background-color: #13a5ad;
}


.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .navbar-item-a{
    color: rgba(255, 255, 255, .9);
}
.navbar.colored .navbar-item-a{
    color: #13a5ad;
}



#menu-main{
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0px;
    width: 100%;
    background: #ffffffaa;
    backdrop-filter: blur(3px);
    transition: visibility 600ms;
}

#menu-main.open{
    visibility:visible;
} 

#menu-main.open > .menu-main-list-container{
    transform: translateX(-250px);
} 

.menu-main-list-container{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 250px;
    top: 0;
    bottom: 0;
    right: -250px;
    transition: transform 0.5s ease;
    transition-delay: 100ms;
    background-color: #262b2d;
    -webkit-box-shadow: 0px 0px 7px 0px #000000; 
    box-shadow: 0px 0px 7px 0px #000000;
}


.menu-mobile-logo{
    align-self: center;
    margin: auto;
}

.list-menu{
    display: flex;
    flex-flow: column wrap;
}

.social-menu-container{
    display: flex;
    flex-flow: row wrap;
    padding: 0 1rem;
}

@media (prefers-reduced-motion) {
    .navbar, 
    #menu-main,
    .menu-main-list-container{
        transition: none;
    }
    
}


/** Grid de categorias en el Home*/
.category-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.category-card{
    position: relative;
}

.category-card a{
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: #fff;
    background-color:rgba(0, 0, 0, .6);
    text-decoration: none;
}

.category-card a:hover{
    color: #13a5ad;
}

.category-card picture > img{
    object-fit: contain;
}


/** Slider */
.slider{
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.slider-item {
    min-width: 35vh;
    scroll-snap-align: center;
    margin-left: 15px;
    position:relative;
}

.slider-item .img-slider{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.slider-item .slider-nameProduct{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: #13a5adcc;
    color: #eee;
    border-radius: 5px;
    padding: 8px;
}

.slider-item .slider-nameProduct > h1{
    margin: 0;
}


/** Grid Productos*/
.products-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.products-card{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    transition: transform 100ms;
    border: 1px solid #69696940;
}

.animate-card:hover{
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.58); 
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.58);
    transform: scale(1.030);
}

.products-card .product-image{
    height: 30vh;
    object-fit: contain;
}

.products-card .product-description{
    padding: 0.5rem;
    width: 100%;
    min-height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-card .product-description > h2{
    margin: 0;
    color: #555;
    font-weight: 500;
    font-size: 1.1em;
}

.products-card .product-description .product-price{
    color: black;
    font-weight: 600;
}

/* Pagina de producto, detalle*/
.product-page{
    padding-top: 15vh;
    display: flex;
    flex-flow: column nowrap;
}

.product-page .go-back-link{
    width: 100%;
    padding: 1rem 0rem;
}

.product-page .go-back-link > a{
    color: dimgrey;
    font-size: 1rem;
    font-weight: 600;
}

.product-page > img{
    width: 100%;
}

.product-page .product-page-description{
    color: dimgray;
}

.product-page .product-page-description > h1{
    color: rgb(26, 17, 17);
} 

.product-page .product-page-description .product-page-price{
    font-size: 1.3rem;
    font-weight: 600;
}

.product-related{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}


.product-related > img{
    width: 30%;
}

.product-related .product-related-datails{
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: dimgrey;
}

.product-related .product-related-datails-title{
    color: #000000bd;
    font-size: 1.1rem;
    font-weight: 600;
}

.product-related .product-related-datails-summary{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.btn-whatsapp{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    bottom: 4vh;
    right: 2vh;
}

.btn-whatsapp > img{
    border-radius: 50%;
}

@media screen and (min-width: 780px) {
    .category-grid, .products-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-desktop-menu{
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navbar-btn{
        display: none;
    }

    /* Pagina de producto, detalle*/
    .product-page{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .product-page > img{
        width: 50%;
        object-fit: contain;
    }

    .product-page .product-page-description {
        width: 50%;
        padding-left: 15px;
    }

    .related-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 30px;
    }

    .related-container .product-related-mainTitle{
        width: 100%;
    }

    .product-page .related-container .related-container-card{
        width: 33%;
        padding: 10px;
    }

    .related-container .related-container-card{
        width: 100%;
        padding: 10px;
    }

    .related-container .related-container-card .product-related {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .product-related > img {
        width: 100%;
    }

    .product-related .product-related-datails {
        width: 100%;
    }
    
}

